body
{
	background-color: #957085;
	font: 20pt;
	font-family: Baskerville, sans-serif;
}

#chat_meta
{
	margin-top: 10px;
	margin-left: 31px;
	position: fixed;
}

#chat_name
{
	height: 18px;
	width: 150px;
	margin-right: 10px;
	font-family: Baskerville, sans-serif;	
	font-size: 16px;
}

#chat_start
{
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	font-family: Baskerville, sans-serif;
	text-align: center;
	border-radius: 50%;
	padding: 5px;
	width: 100px;
}

#chat_log
{
	background-color: #FFF;
	margin: 0px;
	position: fixed;
	top: 70px;
	bottom: 110px;
	right: 40px;
	left: 40px;
	overflow-y: scroll;
	color: black;
}

#chat_log ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#chat_log ul li
{
	padding: 5px 10px;
}

#chat_log ul li.them_line /* every message that's them */
{
	background-color: #EEE;
}

form
{
	background: none;
	position: fixed;
	bottom: 10px;
	right: 32px;
	left: 26px;
	padding: 0px;
}

fieldset
{
	border: none;
}

#chat_input
{
	height: 18px;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 5px;
	margin-right: 10px;
	font-family: Baskerville, sans-serif;	
	font-size: 16px;
}

#send
{
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	font-family: Baskerville, sans-serif;
	text-align: center;
	border-radius: 50%;
	padding: 5px;
	width: 60px;
}
